<html xmlns="http://www.w3.org/1999/xhtml">
@{
    ViewBag.Title = "Renew Membership";
}

<head>
    <title>Renew Membership</title>
</head>

@if (User.IsInRole("Admin") || User.IsInRole("Member"))
{
    <body>
        <h2>Renew Membership</h2>
        <hr />
    </body>
}
</html>

