@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<br />
<h2>Available Roles for Application</h2>
<br />


@*<section class="col-sm-6">
    <table class="table-bordered">
        @Html.ActionLink("Create Role", "Create", "Role")
    </table>
</section>*@

@* table for assigning roles to users *@

<section>
    <section class="col-sm-6">
        <table class="table-bordered">
            @Html.ActionLink("Assign Role to User", "RegisterRole", "Account")
        </table>
    </section>
</section>


<br />


<table class="table table-bordered table-hover">
    <tr>
        <th class="c">
            Role Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">
                @item.Name
            </td>
        </tr>
    }
</table>

<br />
