<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://danielguelzo-001-site17.ftempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://danielguelzo-001-site17.ftempurl.com:8172/msdeploy.axd?site=danielguelzo-001-site17</MSDeployServiceURL>
    <DeployIisAppPath>danielguelzo-001-site17</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\danielguelzo-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL7002.site4now.net;Initial Catalog=DB_A33255_AtmoreChamberTH;Persist Security Info=True;User ID=DB_A33255_AtmoreChamberTH_admin;Password=Provalus2018!" Name="Data Source=SQL7002.site4now.net;Initial Catalog=DB_A33255_AtmoreChamberTH;User Id=DB_A33255_AtmoreChamberTH_admin;Password=Provalus2018!;Persist Security Info=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AtmoreChamber.Models.ApplicationDbContext, AtmoreChamberPinnacle" MigrationConfiguration="AtmoreChamber.Migrations.Configuration, AtmoreChamberPinnacle" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SmarterASP-Web.config Connection String">
      <ParameterValue>Data Source=SQL7002.site4now.net;Initial Catalog=DB_A33255_AtmoreChamberTH;User Id=DB_A33255_AtmoreChamberTH_admin;Password=Provalus2018!;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=SQL7002.site4now.net;Initial Catalog=DB_A33255_AtmoreChamberTH;User Id=DB_A33255_AtmoreChamberTH_admin;Password=Provalus2018!;Persist Security Info=True;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>