@using AtmoreChamber.Models


@{
    ViewBag.Title = "Our Community";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Our Community</h1>
<hr />

<div>
    <h2>
        <a href="#" id="p6text" data-type="Title" data-pk="6" data-url="/post" data-title="Enter Title">
            Demographics
        </a>
    </h2>
    <hr />
    <div>
        <p style="text-align:justify">
            <a href="#" id="Text" data-type="textarea" data-pk="6" data-url="/post" data-title="Enter Text">
                Atmore, AL has a population of 10,067 and is the 3,926th largest city in the United States.
                The population density is 460 per sq mi which is 401% higher than the Alabama average and 408% higher than the national average.
                The median age in Atmore is 40 which is approximately 4% higher than the Alabama average of 39.
                In Atmore, 43% of the population over 15 years of age are married, 98% speak English and 2% speak Spanish.
                72% of Atmore residents were born in Alabama, 26% were born out of state, 2% were born outside of the United States and 1% were foreign born.
            </a>
        </p>
    </div>
</div>

<div>
    <h2>
        <a href="#" id="Title" data-type="text" data-pk="7" data-url="/post" data-title="Enter Title">
            Industry
        </a>
    </h2>
    <hr />
    <div>
        <p style="text-align:justify">
            <a href="#" id="Text" data-type="textarea" data-pk="7" data-url="/post" data-title="Enter Text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum libero ut arcu accumsan, eget egestas lectus dictum.
                Aliquam accumsan non neque ac ultrices. Proin condimentum porta metus sit amet malesuada. Nam vehicula risus eu sollicitudin pellentesque.
                Curabitur elementum tempor sapien, eget semper nisl varius tempus. Ut rhoncus, nunc at egestas semper, felis nibh pulvinar sapien, nec viverra enim arcu at arcu.
                Integer condimentum elementum mi, quis dapibus odio malesuada nec. Mauris interdum ante lorem, porta tincidunt lorem fermentum eu. Cras tristique lorem in erat aliquam ullamcorper.
                Cras efficitur pretium metus in dignissim. Fusce sed mollis elit.
                <br />
                Aenean congue lectus mauris, ut sagittis libero suscipit nec. Duis ullamcorper sem velit, non laoreet nibh suscipit in.
                Phasellus sit amet viverra urna. Quisque sed mi felis. Ut lacinia congue urna, sit amet luctus purus dapibus vel. Duis finibus nulla nec felis viverra accumsan.
                Phasellus lobortis nulla id iaculis pellentesque. Nulla vehicula faucibus lacus vel ornare. Morbi viverra, est eget auctor tristique, nibh lectus imperdiet nulla, quis porta eros mauris vitae nunc.
            </a>
        </p>
    </div>
</div>

<div>
    <h2>
        <a href="#" id="Title" data-type="text" data-pk="8" data-url="/post" data-title="Enter Title">
            Economy
        </a>
    </h2>
    <hr />
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 rounded" height="220" width="330" src="~/Content/images/events/Mayfest.jpg" alt="Mayfest">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 rounded" height="220" width="330" src="~/Content/images/events/taste of the south.jpg" alt="Taste of the South">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 rounded" height="220" width="330" src="~/Content/images/events/TOS 2011 Winner- Davids Catfish.jpg" alt="David's Catfish House">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p style="text-align:justify">
                <a href="#" id="Text" data-type="textarea" data-pk="8" data-url="/post" data-title="Enter Text">
                    City leaders realize that it takes more than tall pines and fertile farmland and a strong work ethic to attract industry these days. Consequently, our leaders have taken a pro-active approach to industrial recruitment. The city has built three speculative buildings in the 150-acre Atmore Industrial Park. Recently, the city has purchased acreage on Highway 21 and interstate 65. Plans are underway to promote and market the Atmore 1-65 Business Park for retail development as well as industrial development.
                    <br />
                    Agriculture and timber have long been staples of the Escambia County economy. Atmore industries have become more diverse through the years, and include textiles, metal fabrication, and communication companies. Managers of these companies agree that their loyal, hard-working employees make Atmore a great place in which to do business.
                    <br />
                    Programs are available locally through Jefferson Davis Community College and through the Alabama Industrial Development Training can be tailored for a company's specific application to ensure that those hardworking employees are also well trained.
                </a>
            </p>
        </div>
    </div>
</div>


<div>
    <h2>Education</h2>
    <hr />
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header bg-dark-teal">
                        Public Schools:
                        Escambia County, Alabama
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <a href="http://www.escambiak12.net/">Escambia County Board of Education</a><br />
                            <a href="http://rachelpatterson.al.ecm.schoolinsites.com/">Rachel Patterson Elementary School</a><br />
                            <a href="http://huxford.al.ece.schoolinsites.com/">Huxford Elementary School K-6</a><br />
                            <a href="http://escambiacountymiddle.al.ecm.schoolinsites.com/Escambia">County Middle School 4-8</a><br />
                            <a href="http://escambia.al.ech.schoolinsites.com/Escambia">County High School 9-12</a><br />
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header bg-dark-teal">
                        Public Schools:
                        Escambia County, Florida
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <a href="https://bratt-ecsd-fl.schoolloop.com/">Bratt Elementary</a><br />
                            <a href="https://ewms-ecsd-fl.schoolloop.com/">Ernest Ward Middle School</a><br />
                            <a href="http://www.northviewchiefs.com/">Northview High School</a><br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header bg-dark-teal">
                        Private Schools
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <a href="https://eacougar.com/">Escambia Academy K4-12</a><br />
                            <a href="http://www.atmorechristianschool.com/">Atmore Christian School K4-12</a><br />
                            <a href="http://www.tca-atmore.com/">Temple Christian Academy K4-7</a><br />
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header bg-dark-teal">
                        Community Colleges
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <a href="http://www.coastalalabama.edu/">Coastal Alabama Community College</a> <br />
                            <a href="http://rstc.edu/">Reid State Technical College</a><br />
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <h2 class="mt-4">
        <a href="#" id="Title" data-type="text" data-pk="9" data-url="/post" data-title="Enter Title">
            Real Estate
        </a>
    </h2>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <p style="text-align:justify">
                    <a href="#" id="Text" data-type="textarea" data-pk="9" data-url="/post" data-title="Enter Text">
                        Atmore's housing cost continues to be the "sweet" real estate deal that you have always dreamed about. With lower initial costs, a lower tax and utility cost, and a desirable "small town America" atmosphere. Atmore is the best place to live. Although recent trends have shown that housing cost have risen in the past few year, the median price of an existing single family home in Atmore much less than in other ares. You will find available real estate in Escambia Real Estate Guide. Also, local real estate agencies utilize the Multiple Listing Services.
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 rounded" height="220" width="330" src="~/Content/images/realestate/atmore-real-estate.jpg" alt="Atmore Housing">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 rounded" height="220" width="330" src="~/Content/images/economy/old_house.jpg" alt="Atmore Housing">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <h2>
                <a href="#" id="Title" data-type="text" data-pk="10" data-url="/post" data-title="Enter Title">
                    Recreation
                </a>
            </h2>
            <hr />

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 rounded" src="~/Content/images/recreation/baseball.jpg" alt="Baseball">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded" src="~/Content/images/recreation/golf.jpg" alt="Golf">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded" src="~/Content/images/recreation/fishing.jpg" alt="Fishing">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p style="text-align:justify">
                            <a href="#" id="Text" data-type="textarea" data-pk="10" data-url="/post" data-title="Enter Text">
                                Leisure time activities play an important part in the lives of Atmore residents.  A pleasant climate, numerous annual events
                                and excellent city recreational facilities which include tennis courts, walking trails and swimming pools provide a variety of activities.
                                The newly created <strong>Atmore Heritage Park</strong> on Main Street with it's relocated historic buildings is a unique setting for new events.
                                West of town, the <strong>Atmore Country Club</strong> offers members and their guests a beautiful nine hole course to play and enjoy.  Nearby rivers and
                                woodlands teeming with trophy game will satisfy the demands of the sportsman who enjoys fishing  or hunting.
                                <br />

                                For the youth of the community, the <strong>Atmore Area YMCA</strong> provides a full range of programs such as soccer, basketball, tee-ball, dance,
                                gymnastics and martial arts.  After-school programs and summer day camps are also available with activities planned by the experienced YMCA staff.
                                A variety of exercise classes, free weights and a fitness center are available for use by seniors and adults alike.  The YMCA offers a nursery service, if needed.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script>

            $(document).ready(function () {
                $.fn.editable.defaults.mode = 'popup';
                $('#Title').editable();
                $('#SubTitle').editable();
                $('#Text').editable();
            });

        </script>
