<html xmlns="http://www.w3.org/1999/xhtml">
@{
    ViewBag.Title = "Our History";
}


<head>
    <title>Our History</title>
</head>
<body>

    <h1 class="mt-2">Our History</h1>
    <hr />

    <div class="row h-50">
        <div class="col-lg-8 mb-0">
            <p style="text-align:justify">
                Long before settlers came to the area that is now Atmore, The Creek Indians inhabited the virgin forests of longleaf pines settling along the creeks and rivers. The development of this area began in the 1860's following the Civil War as the Mobile and Great Northern railroad extended its line south to the Tensaw River near Mobile.
                Workers who moved through the area laying track for the railroad were drawn by the rich farmland and abundance of timber. Agriculture and timber are still major factors in Atmore's economy.
                The first structure in what is Atmore was a small shed built along the railroad at which supplies were left for William Larkin Williams who had a logging operation ten miles down in Florida. In 1866 the site was first called Williams Station, just a supply stop along the railroad.
            </p>
        </div>
        <div class="col-lg-4 mb-0">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-75 rounded" src="~/Content/images/gallery/atmorestation.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-75 rounded" src="~/Content/images/gallery/mainstreet.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-75 rounded" src="~/Content/images/gallery/windcreek.jpg" alt="Second slide">
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card">
                <h5 class="card-header bg-dark-teal">Bill Carney</h5>
                <img src="~/Content/images/history/billcarney.jpg" title="Bill Carney" class="card-img-bottom" />
            </div>

        </div>
        <div class="col-lg-9 mb-4">
            <p style="text-align:justify">
                By the 1870's there were several buildings; a railroad station, a store containing the post office, and one dwelling. Late in 1870 the first sawmill was put into operation. However, it was the sawmill built by William Marshall Carney in 1876 that sparked the growth of the community. Recognizing the potential of this area which abounded in cypress ponds and virgin forests, legend says Carney hitched a mule to a boat and set claim to most of the area.<br />

                Because of his many contributions to the growth of the community Mr. Carney is often called "the father of Atmore".<br />

                By 1885 with a population of 195, Williams Station had enough residents to take an interest in politics. A polling place was provided and votes were cast in a county election.<br />

                The W.M. Carney Mill Company was in full swing attracting settlers from Wilcox and Monroe counties who came to work in both the lumber and turpentine industries. During this time the social life of Atmore centered around it's early churches.<br />

                As the community grew, several leading citizens advanced the argument that the name Williams Station was not suitable for a thriving municipality of two hotels and a few stores. Carney was the most popular name, but there was already a small village just west of the town named Carney. In 1897 the name was changed to Atmore in honor of C.P. Atmore, the General Ticket Agent on the Louisville Nashville Railroad which now stretched to Mobile.<br />

                For information regarding Atmore's Historical Society call the Atmore Public Library at (251) 368-5234.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 max-height:60%;">
            <div class="card">
                <h5 class="card-header bg-dark-teal">Charlie Atmore</h5>
                <img src="~/Content/images/history/charlieatmore.jpg" title="Charlie Atmore" class="card-img-bottom" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header bg-dark-teal">W.M. Carney Mill Company</h5>
                <img src="~/Content/images/history/atmoremill.jpg" title="W.M. Carney Mill Company" class="card-img-bottom" />
            </div>
        </div>
    </div>

</body>
</html>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<link href="~/Content/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="~/Scripts/bootstrap3-editable/js/bootstrap-editable.js"></script>

<script>$.fn.editable.defaults.mode = 'inline';</script>

<script>
    $(document).ready(function () {
        $('#username').editable();
    });
</script>