
@{
    ViewBag.Title = "Relocation and Helpful Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Relocation and Helpful Resources</h1>
<hr />

<div>
    <a class="RHS-head" href="http://www.escambiak12.net"><h2 class="RHS-head">Escambia County Alabama School Board</h2></a>
    <hr />
    <div>
        <p style="text-align:justify">
            The Mission of the Escambia County School System is to provide engaging and comprehensive instructional programs that will enable our students to graduate college and/or career ready.
        </p>
    </div>
</div>

<div>
    <a class="RHS-head" href="http://www.co.escambia.al.us"><h2 class="RHS-head">Escambia County Alabama</h2></a>
    <hr />
    <div>
        <p style="text-align:justify">
            Historic American Indian tribes in the area included the Muskogean-speaking Creek, Choctaw, and Alabama, who had inhabited the lands for centuries and had many settlements. The former two tribes were among those in the Southeast whom the European-American settlers called the Five Civilized Tribes, as they adopted some European-American cultural ways in an attempt to survive alongside the encroachment of settlers moving into the area in the early nineteenth century. Most of these peoples were removed by United States forces in the 1830s to Indian Territory west of the Mississippi River.
            <br />
            The state made land grants to European Americans, who developed the land as large cotton plantations, based on slave labor by African Americans. Some Creek remained in the area. At the time, they were required to renounce their tribal membership and were granted US and state citizenship. They continued to live as a community and to maintain ties. In the twentieth century, the Poarch Band of Creek Indians was recognized as a tribe, established a government under a written constitution, and have certain lands that were taken into trust by the federal government. They have established three gaming resorts to generate revenues for tribal health and welfare.
            <br />
            Escambia County was organized and established after the American Civil War, on December 10, 1868 during the Reconstruction era. The state legislature created it from parts of Baldwin and Conecuh counties, to the west and north, respectively. The area was part of the coastal plain. It was largely agricultural into the twentieth century.
        </p>
    </div>
</div>

<div>
    <a class="RHS-head" href="https://www.atmorepubliclibrary.com/"><h2 class="RHS-head">Atmore Public Library</h2></a>
    <hr />
    <div>
        <p style="text-align:justify">
            Did you know…There were only 518 books available for checkout when the Atmore Public Library opened in 1917!<br />
            ﻿Today, we have almost 50,000 books!<br />
            <br />
            Items available for check out are:<br />
            <ul>
                <li>Fiction/Non-fiction</li>
                <li>Western</li>
                <li>Christian Fiction</li>
                <li>Urban Fiction</li>
                <li>Large Print</li>
            </ul>
            <br />
            <ul>
                <li>Dvd's</li>
                <li>Audio Cd's</li>
                <li>Videocassettes</li>
                <li>Sound Record Books</li>
            </ul>
        </p>
    </div>
</div>

<div>
    <a class="RHS-head" href="https://cityofatmore.com/"><h2 class="RHS-head">City of Atmore</h2></a>
    <hr />
    <div>
        <p style="text-align:justify">
            Long before settlers came to the area that is now Atmore, The Creek Indians inhabited the virgin forests of longleaf pines settling along the creeks and rivers. The development of this area began in the 1860’s following the Civil War as the Mobile and Great Northern railroad extended its line south to the Tensaw River near Mobile.
            <br />
            Workers who moved through the area laying track for the railroad were drawn by the rich farmland and abundance of timber. Agriculture and timber are still major factors in Atmore’s economy.
            <br />
            The first structure in what is Atmore was a small shed built along the railroad at which supplies were left for William Larkin Williams who had a logging operation ten miles down in Florida. In 1866 the site was first called Williams Station, just a supply stop along the railroad.
            <br />
            By the 1870’s there were several buildings; a railroad station, a store containing the post office, and one dwelling. Late in 1870 the first sawmill was put into operation. However, it was the sawmill built by William Marshall Carney in 1876 that sparked the growth of the community. Recognizing the potential of this area which abounded in cypress ponds and virgin forests, legend says Carney hitched a mule to a boat and set claim to most of the area. Because of his many contributions to the growth of the community Mr. Carney is often called “the father of Atmore”.
            <br />
            By 1885 with a population of 195, Williams Station had enough residents to take an interest in politics. A polling place was provided and votes were cast in a county election.
            <br />
            The W.M. Carney Mill Company was in full swing attracting settlers from Wilcox and Monroe counties who came to work in both the lumber and turpentine industries. During this time the social life of Atmore centered around it’s early churches.
            <br />
            As the community grew, several leading citizens advanced the argument that the name Williams Station was not suitable for a thriving municipality of two hotels and a few stores. Carney was the most popular name, but there was already a small village just west of the town named Carney. In 1897 the name was changed to Atmore in honor of C.P. Atmore, the General Ticket Agent on the Louisville Nashville Railroad which now stretched to Mobile.
        </p>
    </div>
</div>

<div>
    <a class="RHS-head" href="https://www.infirmaryhealth.org/hospitals/atmore-community-hospital"><h2 class="RHS-head">Atmore Community Hospital</h2></a>
    <hr />
    <div>
        <p style="text-align:justify">
            Atmore Community Hospital (ACH) is a 49-bed facility, serving several communities in Escambia and Monroe counties in Alabama, as well as those in nearby Escambia County, Fla. Formerly Greenlawn Hospital, ACH moved to the current location on Medical Park Drive in 1967 and affiliated with Infirmary Health in 2015.
            <br />
            Located in a rural area, we offer a wide-range of services for residents who otherwise would have to travel from their home community for medical care. To promote better rest, limit noise and provide privacy for patients and their visitors, we guarantee private rooms for all patients in our hospital.
        </p>
    </div>
</div>

<div>
    <a class="RHS-head" href="https://www.alabamapublichealth.gov/escambia/"><h2 class="RHS-head">Escambia County Department of Health</h2></a>
    <hr />
    <div>
        <p style="text-align:justify">
            The Escambia County Health Department offers clinical, environmental, healthcare, and home health services to the public.
            <br />
            Certified copies of birth, death, marriage, and divorce records may be obtained from the health department.
            <br />
            The Escambia County Health Department has two locations in Escambia County. Both locations are open Monday through Friday, 8:00 a.m.-5:00 p.m., and closed 12:00 p.m.-1:00 p.m. for lunch.
        </p>
    </div>
</div>

