@using AtmoreChamber.Models
@{ List<Item> cart = (List<Item>)Session["cart"] != null ? (List<Item>)Session["cart"] : new List<Item>();
    ViewBag.Title = "Address Form";

    float transactionTotal = 0;
    int fullquantity = 0;

    foreach (var item in cart)
    {
        transactionTotal += item.TotalPrice;
        fullquantity += item.Quantity;
    }
}

<h2>AddressForm</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li><a href="@Url.Action("Index", "Cart")" class="card-link fa fa-shopping-cart">Cart:</a></li>
        <li>( @fullquantity )</li>

    </ol>
</nav>

