@{
    ViewBag.Title = "Our Board of Directors";
}

<br />
<h1>Board of Directors</h1>
<hr />

<br />
<h2>Board of Directors (2015 - 2018)</h2>
<br />

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">David Strawbridge</h5>
            <div class="card-body">
                <p class="card-text">
                    Pepsi-Cola Bottling Co.<br />
                    <i class="fa fa-inbox"></i> PO Box 1009<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-3197<br />
                    <i class="fa fa-mobile"></i> (251) 254-0111<br />
                </p>
                <hr />
                <a href="mailto:davidstrawbridge@pepsiatmore.com" class="card-link fa fa-envelope"> Email David</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Ellis Beachy</h5>
            <div class="card-body">
                <p class="card-text">
                    Escofab<br />
                    <i class="fa fa-road"></i> 171 Industrial Drive<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-1261<br />
                    <i class="fa fa-mobile"></i> (251) 379-7005<br />
                </p>
                <hr />
                <a href="mailto:ellis.beachy@escofab.com" class="card-link fa fa-envelope"> Email Ellis</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Edie Baker</h5>
            <div class="card-body">
                <p class="card-text">
                    PCI<br />
                    <i class="fa fa-road"></i> 5811 Jack Springs Rd.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-9136 Ext. 2231<br />
                    <i class="fa fa-mobile"></i> (251) 253-5916<br />
                </p>
                <hr />
                <a href="mailto:ebaker@pci.nsn.gov" class="card-link fa fa-envelope"> Email Edie</a>
            </div>
        </div>
    </div>
</div>

<br />
<h2>Board of Directors (2016 - 2018)</h2>
<br />

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Donna Gilman</h5>
            <div class="card-body">
                <p class="card-text">
                    United Bank<br />
                    <i class="fa fa-road"></i> 200 East Nashville Ave.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 446-6068<br />
                    C 850-366-0238 <br />
                </p>
                <hr />
                <a href="mailto:donnagilman@unitedbank.com" class="card-link fa fa-envelope"> Email Donna</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Myrna Monroe</h5>
            <div class="card-body">
                <p class="card-text">
                    Atmore News<br />
                    <i class="fa fa-road"></i> 128 South Main St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-6397<br />
                    <i class="fa fa-mobile"></i> (251) 294-1063<br />
                </p>
                <hr />
                <a href="mailto:myrna@atmorechamber.com" class="card-link fa fa-envelope"> Email Myrna</a>
            </div>
        </div>
    </div>
</div>

<br />
<h2>Board of Directors (2017 - 2018)</h2>
<br />

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Kevin Classen</h5>
            <div class="card-body">
                <p class="card-text">
                    Southern Computer<br />
                    <i class="fa fa-road"></i> 504 East Nashville Ave<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 446-3136<br />
                    <i class="fa fa-mobile"></i> (251) 294-1777<br />
                </p>
                <hr />
                <a href="mailto:kclassen@southerncomp.net" class="card-link fa fa-envelope"> Email Kevin</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Chuck Brooks</h5>
            <div class="card-body">
                <p class="card-text">
                    City of Atmore<br />
                    <i class="fa fa-road"></i> 106 McKenzie Dr.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-9141<br /> <br />
                </p>
                <hr />
                <a href="mailto:esciambia7@yahoo.com" class="card-link fa fa-envelope"> Email Chuck</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Silas Seamans</h5>
            <div class="card-body">
                <p class="card-text">
                    Atmore Realty<br />
                    <i class="fa fa-road"></i> 805 North Main St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-6100<br />
                    <i class="fa fa-mobile"></i> (251) 242-0558<br />
                </p>
                <hr />
                <a href="mailto:silas@atmorerealty.com" class="card-link fa fa-envelope"> Email Silas</a>
            </div>
        </div>
    </div>
</div>

<br />
<h2>Board of Directors (2018)</h2>
<br />

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Amy Akins</h5>
            <div class="card-body">
                <p class="card-text">
                    Alto Products<br />
                    <i class="fa fa-road"></i> 1 Alto Way<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-7754<br />
                    <i class="fa fa-mobile"></i> (251) 538-0970<br />
                </p>
                <hr />
                <a href="mailto:amy.akins@alto.com.com" class="card-link fa fa-envelope"> Email Amy</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Taylor Lee</h5>
            <div class="card-body">
                <p class="card-text">
                    PHD Realty<br />
                    <i class="fa fa-road"></i> 1812 S. Main St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-1063<br />
                    <i class="fa fa-mobile"></i> (251) 294-2060<br />
                </p>
                <hr />
                <a href="mailto:taylor@phdrealty.com" class="card-link fa fa-envelope"> Email Taylor</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Tom Tschida</h5>
            <div class="card-body">
                <p class="card-text">
                    Retired<br />
                    <i class="fa fa-road"></i> 507 S. Main St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-mobile"></i> (251) 359-0080<br /><br />
                </p>
                <hr />
                <a href="mailto:tom.tschida@gmail.com" class="card-link fa fa-envelope"> Email Tom</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">

            <h5 class="card-header bg-dark-teal">Sydney Mcghee</h5>
            <div class="card-body">
                <p class="card-text">
                    F S Advisors<br />
                    <i class="fa fa-road"></i> 110 Brookwood Rd.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 459-6914<br />
                    <i class="fa fa-mobile"></i> (251) 459-6918<br />
                </p>
                <hr />
                <a href="mailto:smcghee@fsa-rb.com" class="card-link fa fa-envelope"> Email Sydney</a>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Justin Stabler</h5>
            <div class="card-body">
                <p class="card-text">
                    PCI<br />
                    <i class="fa fa-road"></i> 5811 Jack Springs Rd.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-9136 Ext. 2938<br /><br />
                </p>
                <hr />
                <a href="mailto:jstabler@pci-nsn.gov" class="card-link fa fa-envelope"> Email Justin</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Mallory Shirley</h5>
            <div class="card-body">
                <p class="card-text">
                    Cotton + Co.<br />
                    <i class="fa fa-road"></i> 114 W. Ridgeley St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-mobile"></i> (334) 728-5508<br /><br />
                </p>
                <hr />
                <a href="mailto:cottonandcoboutique@gmail.com" class="card-link fa fa-envelope"> Email Mallory</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Shane Hadley</h5>
            <div class="card-body">
                <p class="card-text">
                    Baldwin Gulf Coast Pest Control<br />
                    <i class="fa fa-road"></i> 711 N. Main St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 295-0259<br />
                    <i class="fa fa-mobile"></i> (251) 446-3133<br />
                </p>
                <hr />
                <a href="mailto:rshadley@gmx.com" class="card-link fa fa-envelope"> Email Shane</a>
            </div>
        </div>
    </div>
</div>