<html xmlns="http://www.w3.org/1999/xhtml">
@{
    ViewBag.Title = "History of the Chamber";
}

<head>
    <title>History of the Chamber</title>
</head>

<body>
    <h2>History of the Chamber</h2>
</body>
</html>