@{
    ViewBag.Title = "Our Executive Board";
}

<h1 class="mt-2">Welcome!</h1>
<h3>It’s A Great Time To #DiscoverAtmore</h3>
<hr />
<div class="row">
    <p style="text-align:justify">
        Our community is in the most exciting and transformative time in
        recent history, and we have every reason to believe that our future will
        be one of growth and prosperity. At the center of that limitless future
        and at the core of that prosperity, is our business community. Business
        is the engine that powers our community, supports our schools and
        churches, and contributes to the overall well-being and quality of our
        daily lives.<br /><br />
        The Atmore Area Chamber of Commerce is fully committed to
        helping our business community fulfill this important role. Not only
        does the Chamber work to promote our businesses, but we also keep
        close contact with elected officials, and civic organizations to make sure
        that the business community has a seat at the table when decisions are
        made about the future of the Atmore Area.<br /><br />
        The Chamber has a wide range of programs and events to
        promote business and cultivate networking, such as our Business and
        Breakfast, Business After 5, Chamber 101, Ask the Expert, and Young
        Professionals Group. The Chamber is also fully committed to economic
        development and growing our workforce through programs such as
        Youth Leadership Atmore, Chamber Ambassadors, Leadership
        Atmore, and Atmore Young Professionals.<br /><br />
        Together, your Chamber Board of dedicated business men and
        women who, along with the Executive Director, Emily Spurlock Harp,
        and her talented staff we are honored to be actively engaged in the
        Chamber’s mission to make Atmore the best place to live, work and
        cultivate business. On behalf of us all, I
        personally invite you to get on the train and
        join us on this journey. We wish each of you
        continued success with your business, now
        and in the future, and thank you for your
        support and participation in the Chamber.<br /><br />
        Brandy Giger<br />
        Chamber President<br />
        Atmore Area Chamber of Commerce<br />
    </p>
</div>

    <h1 class="mt-2">Our Executive Board</h1>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top profile-img" src="~/Content/images/executiveboard/brandy-giger.jpg" alt="Brandy Giger">
                <h5 class="card-header bg-dark-teal">Brandy Giger</h5>
<p class="card-header bg-light-teal">President</p>
            <div class="card-body">
                <p class="card-text">
                    FNB&T<br />
                    <i class="fa fa-road"></i> 111 S. Main St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> 251.368.0462<br />
                    <i class="fa fa-mobile"></i> 251.359.7156<br />
                </p>
                <hr />
                <a href="mailto:brandy@fnbandt.com" class="card-link fa fa-envelope" style="color: #21a3a2;"> Email Brandy</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top profile-img" src="~/Content/images/executiveboard/jordan-barnett.jpg" alt="Jordan Barnett">
            <h5 class="card-header bg-dark-teal">Jordan Barnett</h5>
            <p class="card-header bg-light-teal">Vice President</p>
            <div class="card-body">
                <p class="card-text">
                    Country Place Senior Living<br />
                    <i class="fa fa-road"></i> 140 McRae St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-mobile"></i> 251.767.0433<br /> <br />
                </p>
                <hr />
                <a href="mailto:jbarnett@countryplaceseniorliving.net" class="card-link fa fa-envelope" style="color: #21a3a2;"> Email Jordan</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top profile-img" src="~/Content/images/executiveboard/judd-coley.jpg" alt="Judd Coley">
            <h5 class="card-header bg-dark-teal">Judd Coley</h5>
            <p class="card-header bg-light-teal">Treasurer</p>
            <div class="card-body">
                <p class="card-text">
                    Coley Air Conditioning<br />
                    <i class="fa fa-road"></i> 409 E Ridgeley St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-4413<br />
                    <i class="fa fa-mobile"></i> (251) 253-2776<br />
                </p>
                <hr />
                <a href="mailto:JuddC@ColeyAC.com" class="card-link fa fa-envelope" style="color: #21a3a2;"> Email Judd</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top profile-img" src="~/Content/images/executiveboard/chris-singleton.png" alt="Chris Singleton">
            <h5 class="card-header bg-dark-teal">Chris Singleton</h5>
            <p class="card-header bg-light-teal">Past President</p>
            <div class="card-body">
                <p class="card-text">
                    PCI<br />
                    <i class="fa fa-road"></i> 303 Poarch Rd.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 446-4282<br />
                    <i class="fa fa-mobile"></i> (251) 259-6467<br />
                </p>
                <hr />
                <a href="mailto:csingleton@pcigaming.com" class="card-link fa fa-envelope" style="color: #21a3a2;"> Email Chris</a>
            </div>
        </div>
    </div>
</div>




