@{
    ViewBag.Title = "Our Executive Board";
}

<h1 class="mt-2">Our Executive Board</h1>

<hr />

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top profile-img" src="~/Content/images/executiveboard/brandy-giger.jpg" alt="Brandy Giger">
            <h5 class="card-header bg-dark-teal">Brandy Giger</h5>
            <p class="card-header bg-light-teal">President</p>
            <div class="card-body">
                <p class="card-text">
                    FNB&T<br />
                    <i class="fa fa-road"></i> 111 S. Main St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> 251.368.0462<br />
                    <i class="fa fa-mobile"></i> 251.359.7156<br />
                </p>
                <hr />
                <a href="mailto:brandy@fnbandt.com" class="card-link fa fa-envelope"> Email Brandy</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top profile-img" src="~/Content/images/executiveboard/jordan-barnett.jpg" alt="Jordan Barnett">
            <h5 class="card-header bg-dark-teal">Jordan Barnett</h5>
            <p class="card-header bg-light-teal">Vice President</p>
            <div class="card-body">
                <p class="card-text">
                    Country Place Senior Living<br />
                    <i class="fa fa-road"></i> 140 McRae St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-mobile"></i> 251.767.0433<br /> <br />
                </p>
                <hr />
                <a href="mailto:jbarnett@countryplaceseniorliving.net" class="card-link fa fa-envelope"> Email Jordan</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top profile-img" src="~/Content/images/executiveboard/judd-coley.jpg" alt="Judd Coley">
            <h5 class="card-header bg-dark-teal">Judd Coley</h5>
            <p class="card-header bg-light-teal">Treasurer</p>
            <div class="card-body">
                <p class="card-text">
                    Coley Air Conditioning<br />
                    <i class="fa fa-road"></i> 409 E Ridgeley St.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 368-4413<br />
                    <i class="fa fa-mobile"></i> (251) 253-2776<br />
                </p>
                <hr />
                <a href="mailto:JuddC@ColeyAC.com" class="card-link fa fa-envelope"> Email Judd</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top profile-img" src="~/Content/images/executiveboard/chris-singleton.png" alt="Chris Singleton">
            <h5 class="card-header bg-dark-teal">Chris Singleton</h5>
            <p class="card-header bg-light-teal">Past President</p>
            <div class="card-body">
                <p class="card-text">
                    PCI<br />
                    <i class="fa fa-road"></i> 303 Poarch Rd.<br />
                    <i class="fa fa-map"></i> Atmore, AL 36502<br />
                    <i class="fa fa-phone"></i> (251) 446-4282<br />
                    <i class="fa fa-mobile"></i> (251) 259-6467<br />
                </p>
                <hr />
                <a href="mailto:csingleton@pcigaming.com" class="card-link fa fa-envelope"> Email Chris</a>
            </div>
        </div>
    </div>
</div>




