<html xmlns="http://www.w3.org/1999/xhtml">
@{
    ViewBag.Title = "Membership Information";
}

<head>
    <title>Membership Information</title>
</head>

<body>
    <h2>Membership Information</h2>
</body>
</html>