<html xmlns="http://www.w3.org/1999/xhtml">
@{
    ViewBag.Title = "Membership Information";
}

<head>
    <title>Membership Information</title>
</head>

<body>
    <h2>Membership Information</h2>
    <hr />
    <p style="text-align:justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla ipsum in eros ornare, at aliquet ante vehicula. 
        Etiam a ligula eget ipsum dignissim finibus et nec elit. Mauris placerat laoreet massa non tempus. Nunc dictum ultrices dolor. 
        Nullam dictum felis et enim dignissim gravida sed non ante. Sed ultricies nisi vel condimentum euismod. Sed at purus gravida, euismod massa ut, egestas libero.<br /><br />

        Sed in cursus odio. Duis congue tellus massa, vitae commodo sapien iaculis vel. Aenean ultricies tortor ut nunc iaculis pretium. 
        Aenean eleifend mi sed quam ultrices aliquet. Etiam nec lobortis magna, in posuere risus. Ut eu lectus vitae elit molestie finibus et vitae arcu. 
        Nullam convallis et neque vel cursus. Suspendisse gravida dui dolor, nec laoreet lorem feugiat a. 
        Donec auctor, lacus vitae egestas blandit, enim nisl viverra diam, non vehicula libero odio sit amet felis. Suspendisse quis pellentesque sapien. 
        Nulla auctor tortor maximus nulla aliquet ultrices. Integer non commodo magna. Maecenas viverra euismod euismod. Integer et magna eget nisl rutrum dictum eget non urna.<br /><br />
    </p>

    <h2>Benefits</h2>
    <ul>
        <li>Serves as Welcome and Information Resource for the community</li>
        <li>Business Referral Service for chamber members</li>
        <li>Provides Annual Community Profile & Resource Guide for members, newcomers & community</li>
        <li>Provides City Services Information as well as restaurant guides and city/county maps</li>
        <li>Develops and coordinates a series of roundtable discussions</li>
        <li>Coordinates Grand Openings & Ribbon Cuttings for members with local media</li>
        <li>Free use of chamber boardroom for members only</li>
        <li>Free FAX Service to members</li>
        <li>Provide free member listings/website links on chamber website</li>
        <li>Developed and sells Atmore Area Gift Certificates to help keep shopping dollars in the community – only chamber member businesses can participate.</li>
        <li>Free membership mailing list to members</li>
        <li>Acts as a legislative liaison for members</li>
        <li>Information & legislative resource through the following memberships: U.S. Chamber of Commerce, Business Council of Alabama/Chamber of Commerce Association of Alabama</li>
        <li>Custodian of statistical information for the city/county</li>
        <li>Networking opportunities at Business After Hours and Lunch N’ Learn meetings</li>
        <li>Point of contact for the SBA Development Center</li>
        <li>Offer volunteer opportunities</li>
        <li>Offer business seminars and legislative forums</li>
        <li>Assist local economic development agencies i.e. ECIDA, CGEDA and the City of Atmore with prospects</li>
        <li>Promotion of Community Pride through several annual events i.e. Mayfest, Easter in the Park, Williams Station Day, An Evening with Santa at Heritage Park, Atmore’s Twilight Christmas Parade
            Citizen of the Year/Lifetime Achievement Award Recognition at chamber’s annual meeting
        </li>
        <li>Provide adult and youth leadership training</li>
        <li>Provide chamber ambassador program for high school seniors</li>
        <li>Assist in the coordination of Downtown activities i.e. artwalks</li>
        <li>Participant in other events i.e. The Taste of the South, Alabama Lifestyles Expo, “Worlds of Opportunity” Career Expo</li>
    </ul>

    <h2>Member Discounts</h2>
    <hr />
    <p style="text-align:justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et fermentum nisl. Integer tincidunt libero eros. 
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse ut neque finibus, varius urna vitae, tempor metus. 
        Phasellus lacinia sit amet enim ullamcorper porttitor. Curabitur risus dui, pharetra non nunc ut, malesuada sodales ex.<br /><br /> 
        Ut pretium tincidunt tellus, ac egestas libero porta id. Fusce maximus eget nisi eu aliquet. Nulla lacus orci, vulputate non mollis et, lacinia nec mauris. 
        In nec euismod lorem. Aenean sed libero iaculis, euismod ipsum vel, congue eros. Pellentesque nunc est, varius vulputate pretium at, vulputate eu tortor. 
        Ut et metus dignissim, ullamcorper nulla at, mollis leo. Sed placerat sem velit, ac venenatis magna laoreet sed.
    </p>

    <h2>Testimonials</h2>
    <hr />
    <p style="text-align:justify">
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque consequat feugiat metus, a rutrum neque fermentum vitae. 
        Pellentesque vitae ex mi. Integer feugiat quam vitae orci viverra sodales. Aenean nec sapien porttitor, lacinia lectus eget, faucibus quam. Nulla facilisi. 
        Suspendisse id dictum ipsum. Vivamus tempor pellentesque venenatis. Proin interdum lorem vel lectus sodales, quis vulputate magna cursus.<br /><br /> 
        Donec sollicitudin dolor non fringilla lacinia. Pellentesque at lorem nibh. Nam accumsan augue tellus, at pharetra lorem accumsan sit amet. 
        Mauris posuere eget nibh at ullamcorper. Nunc sed dui arcu. Nam nec tristique metus. Vestibulum interdum justo risus, ac faucibus libero tincidunt et.
    </p>
</body>
</html>