<html xmlns="http://www.w3.org/1999/xhtml">
@{
    ViewBag.Title = "ProgramOfWork";
}

<head>
    <title>Program of Work</title>
</head>
<body>
    <h2>
        <a href="#" id="Title" data-type="text" data-pk="19" data-url="/post" data-title="Enter Title">
            Program Of Work
        </a>
    </h2>
    <hr />
    <p style="text-align:justify">
        <a href="#" id="Text" data-type="textarea" data-pk="19" data-url="/post" data-title="Enter Text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet nulla et turpis molestie aliquam at quis ex.
            Morbi pulvinar ligula lectus, sit amet fringilla nisi malesuada in. Donec eu ante quis lacus commodo semper.
            Aliquam varius vehicula enim eget pulvinar. In quis lacus ante. Cras auctor ligula in turpis feugiat, placerat vehicula enim dignissim.
            Maecenas sit amet scelerisque justo. Aenean porttitor enim bibendum magna ultricies mattis. Curabitur vestibulum mattis lobortis.<br /><br />

            Mauris id ultrices sem. Fusce risus sem, dictum sed velit ac, congue hendrerit est. Aenean placerat tincidunt fringilla.
            Maecenas rutrum sem ut sem efficitur suscipit. Mauris auctor congue ante, nec tempus tortor lacinia in.
            Nam tincidunt lectus erat, non blandit dui ullamcorper sit amet. Praesent nunc orci, faucibus sit amet iaculis sit amet, eleifend eu velit.
            Nulla sed luctus turpis, vitae consectetur ex.<br /><br />
        </a>
    </p>

    <h2>
        <a href="#" id="Title" data-type="text" data-pk="20" data-url="/post" data-title="Enter Title">
            Foundation Events
        </a>
    </h2>
    <hr />

    <a href="#" id="Text" data-type="textarea" data-pk="20" data-url="/post" data-title="Enter Text">
        <ul>
            <li>Annual Chamber Banquet & Meeting</li>
            <li>Easter In The Park</li>
            <li>Mayfest</li>
            <ul>
                <li>Testimonial: “Thank you for all the hardwork ya’ll put into making Mayfest a success!  From communications, entertainment, layout, and general correspondence, Mayfest 2018 was smooth and an absolute pleasure!  Looking forward to Mayfest 2019! – Cherry Dinc”</li>
                <li><a href="#">2018 PRESS RELEASE</a></li>
                <li><a href="#">2018 POSTER</a></li>
                <li><a href="#">2019 Press Release</a></li>
                <li><a href="#">2018 Application</a></li>
                <li><a href="#">Vendor Information Reques</a>t</li>
                <li><a href="#">Photos</a></li>
            </ul>
            <li>Market In The Park</li>
            <li>Business & Breakfast</li>
            <li>Chamber 101</li>
            <li>Hi5 Friday</li>
            <li>Past President Luncheon</li>
            <li>Member Appreciation Celebration</li>
            <li>Corporate Cup Games</li>
            <li>Evening In White</li>
            <li>Williams Station Day</li>
            <li>Music On Main</li>
            <li>Crawfish Crawl</li>
            <li>Twilight Christmas Parade</li>
            <li>Santa On Main</li>
            <li>Taste of the South</li>
            <li>Chili Cookoff</li>
        </ul>
    </a>

    <h2>
        <a href="#" id="Title" data-type="text" data-pk="21" data-url="/post" data-title="Enter Title">
            Business of The Month
        </a>
    </h2>
    <hr />
    <p style="text-align:justify">
        <a href="#" id="Text" data-type="textarea" data-pk="21" data-url="/post" data-title="Enter Text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis, ex et consectetur tristique, lorem ante laoreet erat, vitae sodales mauris nisi sit amet eros.
            Vestibulum ut elit ultricies, rhoncus justo ac, luctus nibh. Morbi felis orci, tincidunt vel malesuada a, rutrum ac eros.
            Curabitur vulputate vitae massa sit amet dignissim. Vestibulum tincidunt consequat ipsum, vitae finibus eros gravida sollicitudin.
            Proin dolor erat, fringilla ut erat consequat, aliquam faucibus leo. Vestibulum tempus ultricies euismod. Maecenas rutrum tempor mauris quis tincidunt.
            Fusce sed egestas arcu, id iaculis orci. Nulla facilisi. Quisque sagittis quam consectetur ipsum rutrum, ac interdum libero gravida. Donec a arcu risus.
            Etiam at aliquet libero.
        </a>
    </p>

    <h2>
        <a href="#" id="Title" data-type="text" data-pk="22" data-url="/post" data-title="Enter Title">
            Youth Leadership Atmore
        </a>
    </h2>
    <hr />
    <p style="text-align:justify">
        <a href="#" id="Text" data-type="textarea" data-pk="22" data-url="/post" data-title="Enter Text">
            Vivamus scelerisque in tortor at molestie. Aliquam non porta felis. Donec cursus porttitor efficitur.
            Phasellus ut urna et purus ullamcorper feugiat quis eget nulla. Suspendisse fringilla sodales tincidunt. Fusce sollicitudin efficitur velit.
            Praesent facilisis diam eget egestas vulputate. Vivamus quis dictum tortor. Mauris porttitor nec lorem in efficitur. Mauris elementum tempus ex, quis dapibus leo fringilla vitae.
            Integer nec scelerisque velit. Ut laoreet augue ut mollis tristique. Ut efficitur eu massa et malesuada. Fusce massa velit, semper ut lobortis sit amet, semper eget neque.
        </a>
    </p>

    <h2>
        <a href="#" id="Title" data-type="text" data-pk="23" data-url="/post" data-title="Enter Title">
            Young Professionals
        </a>
    </h2>
    <hr />
    <p style="text-align:justify">
        <a href="#" id="Text" data-type="textarea" data-pk="23" data-url="/post" data-title="Enter Text">
            Vestibulum porta hendrerit est nec vulputate. Maecenas tincidunt, dolor in ullamcorper suscipit, urna libero scelerisque ante, nec mollis magna ipsum vel lacus.
            Donec consectetur ante sit amet nisl porta, non auctor urna malesuada. Duis at dui vel neque bibendum lacinia. Quisque a dolor eleifend, faucibus mauris sit amet, viverra nibh.
            Ut dictum blandit arcu tincidunt mattis. Quisque non ligula at magna lobortis bibendum ut sit amet mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus hendrerit ligula a arcu semper, et consequat lectus vestibulum.
        </a>
    </p>

    <h2>
        <a href="#" id="Title" data-type="text" data-pk="24" data-url="/post" data-title="Enter Title">
            Chamber Ambassadors
        </a>
    </h2>
    <hr />
    <p style="text-align:justify">
        <a href="#" id="Text" data-type="textarea" data-pk="24" data-url="/post" data-title="Enter Text">
            Sed eget sem placerat massa scelerisque suscipit. Phasellus auctor porta lacinia. Vestibulum a eros ultrices, tempus tellus ut, efficitur ante.
            Nulla id tempor dui. Mauris tincidunt, lorem sit amet porta fringilla, augue felis tempor purus, sit amet viverra tellus lorem sit amet purus. Phasellus non suscipit leo.
            Pellentesque a placerat erat, eget pharetra nulla. Nulla et nunc rhoncus, lacinia ex ut, rutrum justo. Sed pulvinar libero ut lorem tincidunt tristique.
            Integer elit velit, ultricies nec ornare sed, vehicula vel tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor pulvinar dui sed fringilla.
            Sed euismod tellus sit amet magna dictum, sed euismod tortor congue.
        </a>
    </p>

    <h2>
        <a href="#" id="Title" data-type="text" data-pk="25" data-url="/post" data-title="Enter Title">
            Business & Work Force Development
        </a>
    </h2>
    <hr />
    <p style="text-align:justify">
        <a href="#" id="Text" data-type="textarea" data-pk="25" data-url="/post" data-title="Enter Text">
            Aenean fringilla leo suscipit eros commodo rhoncus. Morbi nec luctus dui. Nunc condimentum magna in orci vestibulum, vitae vehicula nisi iaculis.
            Morbi sed mollis augue, et placerat urna. Duis ante dolor, porttitor ut vulputate at, scelerisque vitae sapien. Maecenas tincidunt, dolor varius posuere rutrum, ex tellus eleifend quam, vitae tempor justo risus ac diam.
            Sed ante augue, imperdiet id erat in, gravida malesuada nisl. Aliquam accumsan nisl at ultrices aliquam.
        </a>
    </p>

    <h2>
        <a href="#" id="Title" data-type="text" data-pk="26" data-url="/post" data-title="Enter Title">
            Ask The Expert
        </a>
    </h2>
    <hr />
    <p style="text-align:justify">
        <a href="#" id="Text" data-type="textarea" data-pk="26" data-url="/post" data-title="Enter Text">
            Nullam egestas tortor dui, in vulputate ipsum aliquam vel. In hac habitasse platea dictumst. Morbi id quam elit.
            Duis placerat sem vel magna suscipit, at facilisis elit tincidunt. Vestibulum velit nibh, ultrices vitae ligula nec, porttitor tristique dui.
            Quisque eu iaculis odio, et vehicula erat. Cras a dolor quis nisl scelerisque vestibulum ornare nec arcu. Mauris ut viverra ipsum, non rhoncus ex.
            Nunc dui tortor, laoreet in mattis id, scelerisque ac libero. Pellentesque laoreet sodales justo vel malesuada.
        </a>
    </p>

    <h2>
        <a href="#" id="Title" data-type="text" data-pk="27" data-url="/post" data-title="Enter Title">
            Government Affairs & Public Policy
        </a>
    </h2>
    <hr />
    <p style="text-align:justify">
        <a href="#" id="Text" data-type="textarea" data-pk="27" data-url="/post" data-title="Enter Text">
            Duis fringilla libero sed ipsum fermentum iaculis. Curabitur sodales luctus leo, sit amet rhoncus arcu tincidunt ut.
            Etiam euismod sodales lobortis. Aliquam vel dolor non purus fermentum iaculis sed et risus. Curabitur dapibus purus dignissim purus vehicula, quis cursus felis mattis.
            Quisque eu condimentum tortor, posuere lobortis odio. Nullam condimentum bibendum justo, vestibulum aliquam erat hendrerit faucibus. In eget ultrices nisi, quis pulvinar erat.
            Sed condimentum sapien ac lorem lobortis ornare.
        </a>
    </p>

    <h2>
        <a href="#" id="Title" data-type="text" data-pk="28" data-url="/post" data-title="Enter Title">
            Economic Development
        </a>
    </h2>
    <hr />
    <p style="text-align:justify">
        <a href="#" id="Text" data-type="textarea" data-pk="28" data-url="/post" data-title="Enter Text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus sed tortor eu commodo. Etiam maximus tellus ut libero volutpat dignissim.
            In molestie, lorem et dignissim pellentesque, magna justo volutpat orci, vitae venenatis ligula nisl sed sapien. Etiam pellentesque congue odio, quis ultricies orci facilisis non.
            Cras mattis tristique velit vel sollicitudin. Vivamus ultricies aliquam accumsan. Sed quis justo sed libero rutrum tincidunt id eu erat. Maecenas aliquam sed massa id rhoncus.
            Aliquam neque purus, mattis viverra molestie vel, congue quis lorem. Pellentesque non felis non nisl molestie vehicula non nec nisl. Fusce finibus purus dolor, id varius justo gravida in.
            Duis sit amet sem tincidunt, placerat tellus vitae, laoreet quam. Fusce sodales nisl neque, in ultricies nisi pulvinar at. Curabitur euismod nibh dapibus arcu consectetur suscipit.
        </a>
    </p>


    <h2>
        <a href="#" id="Title" data-type="text" data-pk="29" data-url="/post" data-title="Enter Title">
            Celebration of Achievements
        </a>
    </h2>
    <hr />
    <p style="text-align:justify">
        <a href="#" id="Text" data-type="textarea" data-pk="29" data-url="/post" data-title="Enter Text">
            Donec imperdiet, mi id lobortis ullamcorper, erat ligula laoreet purus, sit amet vestibulum diam felis eu metus. Integer sed elit ac leo tempus imperdiet.
            Suspendisse potenti. Phasellus pretium velit eu tristique laoreet. Cras eleifend neque nec orci pretium, bibendum porta erat suscipit.
            Phasellus efficitur blandit elit ac elementum. Nam orci libero, suscipit et fermentum eget, aliquet vitae urna.<br /><br />

            Etiam ac feugiat sem. Pellentesque at nisi ac ipsum finibus pellentesque et non dui.
            Suspendisse blandit fringilla eros non lobortis. Nulla at ligula non ex vehicula pellentesque.
            Sed at tellus sit amet magna venenatis porttitor vitae quis justo. Sed ac ullamcorper felis. Etiam turpis odio, tristique ornare metus a, fringilla vehicula libero.
            Etiam nec mauris consectetur, rhoncus purus sit amet, vestibulum felis. Suspendisse potenti. Quisque molestie orci nec rutrum auctor.
            Praesent laoreet iaculis mauris ac euismod. Etiam sollicitudin cursus felis. Pellentesque at ligula viverra arcu dictum pulvinar. Suspendisse eu mattis sapien.<br /><br />
        </a>
    </p>


</body>
</html>

<script>

    $(document).ready(function () {
        $.fn.editable.defaults.mode = 'popup';
        $('#Title').editable();
        $('#SubTitle').editable();
        $('#Text').editable();
    });

</script>
