<html xmlns="http://www.w3.org/1999/xhtml">
@{
    ViewBag.Title = "Staff";
}

<head>
    <title>Staff</title>
</head>




<body>
    <h1>
        <a href="#" id="Title" data-type="text" data-pk="31" data-url="/post" data-title="Enter Title">
            Growing Atmore
        </a>
    </h1>
    <hr />
    <div class="row">

        <h3>
            <i>
                <a href="#" id="SubTitle" data-type="text" data-pk="31" data-url="/post" data-title="Enter SubTitle">
                    At the Atmore Area Chamber of Commerce, our mission is to support Atmore, its
                    businesses, economy, and culture, thereby ensuring an enhanced quality of life for all.
                </a>
            </i>
        </h3>
        <p style="text-align:justify">
            <a href="#" id="Text" data-type="textarea" data-pk="31" data-url="/post" data-title="Enter Text">
                Whether you are in Atmore for a few hours or just a day, it doesn’t take long once arriving to feel
                the energy and excitement in our hometown, for our future. Everyday you are here you can notice
                the changes, new additions, and updates with new places to go, things to do, and people to see.<br /><br />

                Our beautiful downtown provides opportunities to shop, meet with friends, share a great meal, or
                just take a walk and soak up the warm southern hospitality, unique history, and beautiful
                architecture around every corner. With theater productions, arts & crafts festivals, and live music
                events there is always something to do. You can travel to lots of hometown communities throughout
                the south but trust me when I say you won’t find another that could match our city of Atmore.<br /><br />


                The Atmore area’s quality of life is further enhanced by our business community. From small
                family-owned shops to strong regional and national companies, you don’t have to go far to find what
                you need, a great place to work, or a warm welcome. The entrepreneurial spirit is alive and well in
                Atmore, bringing us unique products and services. Our thriving economy provides the perfect
                setting for those wanting to strike out on their own. With the growth necessary to support our
                business community, both established or new, it is easy to understand why so many people are
                discovering Atmore or even rediscovering our fair city and choosing to do business here. Supporting
                our community, the Chamber works diligently to market, assist, and provide resources for our
                businesses to prosper. We’re committed to making the Atmore Area a successful community and
                flourishing place to do business.<br /><br />


                So, whether you are just visiting us, looking for a new place to call
                home, or bringing a business here, I hope you enjoy all that the Atmore
                Area has to offer and look forward to meeting you!<br /><br />

                Emily Spurlock Harp<br />
                Executive Director<br />
                Atmore Area Chamber of Commerce<br />
            </a>
        </p>

    </div>


    <h1>Staff</h1>
    <hr />
    <br />

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header bg-dark-teal">Emily Spurlock Harp, <br /> Executive Director</h5>
                <div class="card-img-top d-flex align-items-center">
                    <div>
                        <img src="~/Content/images/boardofdirectors/Emily-Spurlock-Harp.jpg" alt="Emily Spurlock Harp" style="width:174.4px; height:210px;">
                    </div>
                    <p class="p-4">
                        <i class="fa fa-phone"></i> (251) 368-3305<br />
                        <i class="fa fa-mobile"></i> (850) 324-0443<br /><br />
                    </p>
                </div>
                <div class="card-footer bg-white text-center">
                    <a href="mailto:director@atmorechamber.com" class="card-link fa fa-envelope"> Email Emily</a> <br />
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header bg-dark-teal">Brandon Beachy, <br /> Executive Assistant</h5>
                <div class="card-body">
                    <p class="card-text text-center">

                        <br />
                        <br />

                        <i class="fa fa-phone"></i> (251) 368-3305<br />
                        <i class="fa fa-mobile"></i> (251) 428-0913<br />

                        <br />
                        <br />
                        <br />
                    </p>
                    <div class="card-footer bg-white text-center">
                        <a href="mailto:admin@atmorechamber.com" class="card-link fa fa-envelope"> Email Brandon</a> <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>