@{
    ViewBag.Title = "Staff";
}

<br />
<h1>Staff</h1>
<hr />
<br />

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Emily Spurlock Harp, <br /> Executive Director</h5>
            <div class="card-img-top d-flex align-items-center">
                <div>
                    <img src="~/Content/images/boardofdirectors/Emily-Spurlock-Harp.jpg" alt="Emily Spurlock Harp" style="width:174.4px; height:210px;">
                </div>
                <p class="p-4">
                    <i class="fa fa-phone"></i> (251) 368-3305<br />
                    <i class="fa fa-mobile"></i> (850) 324-0443<br /><br />
                </p>
            </div>
            <div class="card-footer bg-white text-center">
                <a href="mailto:director@atmorechamber.com" class="card-link fa fa-envelope"> Email Emily</a> <br />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header bg-dark-teal">Brandon Beachy, <br /> Executive Assistant</h5>
            <div class="card-body">
                <p class="card-text text-center">

                    <br />
                    <br />

                    <i class="fa fa-phone"></i> (251) 368-3305<br />
                    <i class="fa fa-mobile"></i> (251) 428-0913<br />

                    <br />
                    <br />
                    <br />
                </p>
                <div class="card-footer bg-white text-center">
                    <a href="mailto:admin@atmorechamber.com" class="card-link fa fa-envelope"> Email Brandon</a> <br />
                </div>
            </div>
        </div>
    </div>
</div>
