@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <div class="nav-item" style="display:inline-flex; width: 150px;">
        <span>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { id = "usernameLink", })
        </span>
        <span><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>
        </div>
    }
}
else
{
    <div class="user-account" style="display:inline-flex; width: 150px;">
        <span> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </span>
        
        <span> @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </span>
    </div>

}
